<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>C1OGM41Lw3jRyA0zDa8YxaoPI</string>
	<key>consumer_Secret</key>
	<string>HOx4NARnsUc4E5QbGu66XPwG2YASMzuOuwutksqyJsQaC0PW6o</string>
</dict>
</plist>
